# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
node_modules
typings
app/**/*.js
app/**/*.map
https://github.com/shamaz-app/testing-students-angular2.git
out
gen
